In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 100)
import openpyxl

In [2]:
dtypes = {'Awardee': object,
          'Document Type': object,
          'Order Number': float,
          'Item Number': float,
          'NDC': object,
          'Ordering Intention': object,
          'Fund Type': object,
          'VFC Qty': int,
          '317 Qty': int,
          'STATE Qty': int,
          'CHIP Qty': int,
          'Order Qty': float}

In [3]:
excel_file_path= "chip_awardees_fy22.xlsx"

In [4]:
df= pd.read_excel(excel_file_path, sheet_name= 'CHIP Awardees_ALL', dtype=dtypes, thousands=',')

In [5]:
print(df)

       Awardee Document Type  Order Number  Item Number            NDC  \
0         1004           ZKB   508344224.0         60.0  00006-4827-00
1         1004           ZKB   508346311.0         90.0  00006-4827-00
2         1004           ZKB   508349668.0         40.0  00006-4171-00
3         1004           ZKB   508349669.0         40.0  00006-4827-00
4         1004           ZKB   508349981.0         90.0  00006-4827-00
...        ...           ...           ...          ...            ...
452707    1062           ZKB   508357591.0         10.0  58160-0955-09
452708    1062           ZKB   508357270.0         40.0  00006-4047-41
452709    1062           ZKB   508357270.0         30.0  00006-4681-00
452710    1062           ZKB   508357270.0         20.0  00006-4095-02
452711    1062           ZKB   508357270.0         10.0  49281-0511-05

       Ordering Intention Fund Type  VFC Qty  317 Qty  STATE Qty  CHIP Qty  \
0                     PED       VFC       10        0          0         0
1                     PED       VFC       10        0          0         0
2                     PED       VFC       10        0          0         0
3                     PED       VFC       20        0          0         0
4                     PED       VFC      100        0          0         0
...                   ...       ...      ...      ...        ...       ...
452707                PED       VFC        5        0          0         0
452708                PED       VFC       10        0          0         0
452709                PED       VFC       10        0          0         0
452710                PED       VFC       10        0          0         0
452711                PED       VFC        5        0          0         0

        Order Qty
0            10.0
1            10.0
2            10.0
3            20.0
4           100.0
...           ...
452707        5.0
452708       10.0
452709       10.0
452710       10.0
452711        5.0

[452712 rows x 12 columns]

In [6]:
df.head()

,Awardee,Document Type,Order Number,Item Number,NDC,Ordering Intention,Fund Type,VFC Qty,317 Qty,STATE Qty,CHIP Qty,Order Qty
0,1004,ZKB,508344224.0,60.0,00006-4827-00,PED,VFC,10,0,0,0,10.0
1,1004,ZKB,508346311.0,90.0,00006-4827-00,PED,VFC,10,0,0,0,10.0
2,1004,ZKB,508349668.0,40.0,00006-4171-00,PED,VFC,10,0,0,0,10.0
3,1004,ZKB,508349669.0,40.0,00006-4827-00,PED,VFC,20,0,0,0,20.0
4,1004,ZKB,508349981.0,90.0,00006-4827-00,PED,VFC,100,0,0,0,100.0

In [7]:
df.tail()

,Awardee,Document Type,Order Number,Item Number,NDC,Ordering Intention,Fund Type,VFC Qty,317 Qty,STATE Qty,CHIP Qty,Order Qty
452707,1062,ZKB,508357591.0,10.0,58160-0955-09,PED,VFC,5,0,0,0,5.0
452708,1062,ZKB,508357270.0,40.0,00006-4047-41,PED,VFC,10,0,0,0,10.0
452709,1062,ZKB,508357270.0,30.0,00006-4681-00,PED,VFC,10,0,0,0,10.0
452710,1062,ZKB,508357270.0,20.0,00006-4095-02,PED,VFC,10,0,0,0,10.0
452711,1062,ZKB,508357270.0,10.0,49281-0511-05,PED,VFC,5,0,0,0,5.0

In [8]:
df= df.loc[df['Document Type']=='ZKB',]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 452712 entries, 0 to 452711
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Awardee             452712 non-null  object
 1   Document Type       452712 non-null  object
 2   Order Number        452712 non-null  float64
 3   Item Number         452712 non-null  float64
 4   NDC                 452712 non-null  object
 5   Ordering Intention  452712 non-null  object
 6   Fund Type           452712 non-null  object
 7   VFC Qty             452712 non-null  int64
 8   317 Qty             452712 non-null  int64
 9   STATE Qty           452712 non-null  int64
 10  CHIP Qty            452712 non-null  int64
 11  Order Qty           452712 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 44.9+ MB

In [9]:
indirect= df.loc[(df['NDC'] != '00006-4171-00') & (df['NDC'] != '00006-4827-00')]

In [10]:
for_pivot = indirect[['Awardee', 'Fund Type']].copy()

In [13]:
table= pd.crosstab(for_pivot['Awardee'], for_pivot['Fund Type'])
table

Fund Type  317   CHP   S/L    SPL     VFC
Awardee
1004        23  1027     0      0   16681
1005         0  1742     1   3305    6031
1007        20   819     2   2829    4019
1009         0     0   845  13412     723
1010         0    11     1      0    3087
1013         1     0     0  24065    2115
1016         0     0     0   6913       0
1017         0  2738  6706   1862   10815
1020         0     0     0   5894     886
1021         0   433    19   9695    2862
1023         0    31     6   6116     918
1026         1     0     2  21944       0
1030         0   708   150     19    7611
1031         0     5     0   5507    7020
1035         0     0     1    453    5824
1039         0     0     0  34155     118
1040         8     1     2  30425     304
1045         0     0     0  10694      21
1053        12    32     0   3003      32
1055         1  5395  2933      0  100320
1056         0   347     1   4819    1808
1060         0   223     0  10201       0
1061       151     0     0   6495      40
1062         9    93     0   1429   10855

In [15]:
table['Total'] = table[317]+table['CHP']+table['S/L']+table['SPL']+table['VFC']
table

Fund Type  317   CHP   S/L    SPL     VFC   Total
Awardee
1004        23  1027     0      0   16681   17731
1005         0  1742     1   3305    6031   11079
1007        20   819     2   2829    4019    7689
1009         0     0   845  13412     723   14980
1010         0    11     1      0    3087    3099
1013         1     0     0  24065    2115   26181
1016         0     0     0   6913       0    6913
1017         0  2738  6706   1862   10815   22121
1020         0     0     0   5894     886    6780
1021         0   433    19   9695    2862   13009
1023         0    31     6   6116     918    7071
1026         1     0     2  21944       0   21947
1030         0   708   150     19    7611    8488
1031         0     5     0   5507    7020   12532
1035         0     0     1    453    5824    6278
1039         0     0     0  34155     118   34273
1040         8     1     2  30425     304   30740
1045         0     0     0  10694      21   10715
1053        12    32     0   3003      32    3079
1055         1  5395  2933      0  100320  108649
1056         0   347     1   4819    1808    6975
1060         0   223     0  10201       0   10424
1061       151     0     0   6495      40    6686
1062         9    93     0   1429   10855   12386

In [16]:
table['Percent SPL'] = table['SPL']/table['Total']
table

Fund Type  317   CHP   S/L    SPL     VFC   Total  Percent SPL
Awardee
1004        23  1027     0      0   16681   17731     0.000000
1005         0  1742     1   3305    6031   11079     0.298312
1007        20   819     2   2829    4019    7689     0.367928
1009         0     0   845  13412     723   14980     0.895327
1010         0    11     1      0    3087    3099     0.000000
1013         1     0     0  24065    2115   26181     0.919178
1016         0     0     0   6913       0    6913     1.000000
1017         0  2738  6706   1862   10815   22121     0.084173
1020         0     0     0   5894     886    6780     0.869322
1021         0   433    19   9695    2862   13009     0.745253
1023         0    31     6   6116     918    7071     0.864941
1026         1     0     2  21944       0   21947     0.999863
1030         0   708   150     19    7611    8488     0.002238
1031         0     5     0   5507    7020   12532     0.439435
1035         0     0     1    453    5824    6278     0.072157
1039         0     0     0  34155     118   34273     0.996557
1040         8     1     2  30425     304   30740     0.989753
1045         0     0     0  10694      21   10715     0.998040
1053        12    32     0   3003      32    3079     0.975317
1055         1  5395  2933      0  100320  108649     0.000000
1056         0   347     1   4819    1808    6975     0.690896
1060         0   223     0  10201       0   10424     0.978607
1061       151     0     0   6495      40    6686     0.971433
1062         9    93     0   1429   10855   12386     0.115372

In [17]:
table['Percent CHP'] = table['CHP']/table['Total']
table

Fund Type  317   CHP   S/L    SPL     VFC   Total  Percent SPL  Percent CHP
Awardee
1004        23  1027     0      0   16681   17731     0.000000     0.057921
1005         0  1742     1   3305    6031   11079     0.298312     0.157234
1007        20   819     2   2829    4019    7689     0.367928     0.106516
1009         0     0   845  13412     723   14980     0.895327     0.000000
1010         0    11     1      0    3087    3099     0.000000     0.003550
1013         1     0     0  24065    2115   26181     0.919178     0.000000
1016         0     0     0   6913       0    6913     1.000000     0.000000
1017         0  2738  6706   1862   10815   22121     0.084173     0.123774
1020         0     0     0   5894     886    6780     0.869322     0.000000
1021         0   433    19   9695    2862   13009     0.745253     0.033285
1023         0    31     6   6116     918    7071     0.864941     0.004384
1026         1     0     2  21944       0   21947     0.999863     0.000000
1030         0   708   150     19    7611    8488     0.002238     0.083412
1031         0     5     0   5507    7020   12532     0.439435     0.000399
1035         0     0     1    453    5824    6278     0.072157     0.000000
1039         0     0     0  34155     118   34273     0.996557     0.000000
1040         8     1     2  30425     304   30740     0.989753     0.000033
1045         0     0     0  10694      21   10715     0.998040     0.000000
1053        12    32     0   3003      32    3079     0.975317     0.010393
1055         1  5395  2933      0  100320  108649     0.000000     0.049655
1056         0   347     1   4819    1808    6975     0.690896     0.049749
1060         0   223     0  10201       0   10424     0.978607     0.021393
1061       151     0     0   6495      40    6686     0.971433     0.000000
1062         9    93     0   1429   10855   12386     0.115372     0.007508

In [18]:
table['Percent VFC'] = table['VFC']/table['Total']
table

Fund Type,317,CHP,S/L,SPL,VFC,Total,Percent SPL,Percent CHP,Percent VFC
Awardee,,,,,,,,,
1004,23,1027,0,0,16681,17731,0.000000,0.057921,0.940782
1005,0,1742,1,3305,6031,11079,0.298312,0.157234,0.544363
1007,20,819,2,2829,4019,7689,0.367928,0.106516,0.522695
1009,0,0,845,13412,723,14980,0.895327,0.000000,0.048264
1010,0,11,1,0,3087,3099,0.000000,0.003550,0.996128
1013,1,0,0,24065,2115,26181,0.919178,0.000000,0.080784
1016,0,0,0,6913,0,6913,1.000000,0.000000,0.000000
1017,0,2738,6706,1862,10815,22121,0.084173,0.123774,0.488902
1020,0,0,0,5894,886,6780,0.869322,0.000000,0.130678
1021,0,433,19,9695,2862,13009,0.745253,0.033285,0.220002
1023,0,31,6,6116,918,7071,0.864941,0.004384,0.129826
1026,1,0,2,21944,0,21947,0.999863,0.000000,0.000000
1030,0,708,150,19,7611,8488,0.002238,0.083412,0.896678
1031,0,5,0,5507,7020,12532,0.439435,0.000399,0.560166
1035,0,0,1,453,5824,6278,0.072157,0.000000,0.927684
1039,0,0,0,34155,118,34273,0.996557,0.000000,0.003443
1040,8,1,2,30425,304,30740,0.989753,0.000033,0.009889
1045,0,0,0,10694,21,10715,0.998040,0.000000,0.001960
1053,12,32,0,3003,32,3079,0.975317,0.010393,0.010393
1055,1,5395,2933,0,100320,108649,0.000000,0.049655,0.923340
1056,0,347,1,4819,1808,6975,0.690896,0.049749,0.259211
1060,0,223,0,10201,0,10424,0.978607,0.021393,0.000000
1061,151,0,0,6495,40,6686,0.971433,0.000000,0.005983
1062,9,93,0,1429,10855,12386,0.115372,0.007508,0.876393

In [22]:
table.to_csv('fy22_spl_percents.csv')

In [30]:
table.head()

Fund Type,317,CHP,S/L,SPL,VFC,Total,Percent SPL,Percent CHP,Percent VFC
Awardee,,,,,,,,,
1004,23,1027,0,0,16681,17731,0.000000,0.057921,0.940782
1005,0,1742,1,3305,6031,11079,0.298312,0.157234,0.544363
1007,20,819,2,2829,4019,7689,0.367928,0.106516,0.522695
1009,0,0,845,13412,723,14980,0.895327,0.000000,0.048264
1010,0,11,1,0,3087,3099,0.000000,0.003550,0.996128

In [32]:
table['Percent 317'] = table[317]/table['Total']
table

Fund Type,317,CHP,S/L,SPL,VFC,Total,Percent SPL,Percent CHP,Percent VFC,Percent 317
Awardee,,,,,,,,,,
1004,23,1027,0,0,16681,17731,0.000000,0.057921,0.940782,0.001297
1005,0,1742,1,3305,6031,11079,0.298312,0.157234,0.544363,0.000000
1007,20,819,2,2829,4019,7689,0.367928,0.106516,0.522695,0.002601
1009,0,0,845,13412,723,14980,0.895327,0.000000,0.048264,0.000000
1010,0,11,1,0,3087,3099,0.000000,0.003550,0.996128,0.000000
1013,1,0,0,24065,2115,26181,0.919178,0.000000,0.080784,0.000038
1016,0,0,0,6913,0,6913,1.000000,0.000000,0.000000,0.000000
1017,0,2738,6706,1862,10815,22121,0.084173,0.123774,0.488902,0.000000
1020,0,0,0,5894,886,6780,0.869322,0.000000,0.130678,0.000000
1021,0,433,19,9695,2862,13009,0.745253,0.033285,0.220002,0.000000
1023,0,31,6,6116,918,7071,0.864941,0.004384,0.129826,0.000000
1026,1,0,2,21944,0,21947,0.999863,0.000000,0.000000,0.000046
1030,0,708,150,19,7611,8488,0.002238,0.083412,0.896678,0.000000
1031,0,5,0,5507,7020,12532,0.439435,0.000399,0.560166,0.000000
1035,0,0,1,453,5824,6278,0.072157,0.000000,0.927684,0.000000
1039,0,0,0,34155,118,34273,0.996557,0.000000,0.003443,0.000000
1040,8,1,2,30425,304,30740,0.989753,0.000033,0.009889,0.000260
1045,0,0,0,10694,21,10715,0.998040,0.000000,0.001960,0.000000
1053,12,32,0,3003,32,3079,0.975317,0.010393,0.010393,0.003897
1055,1,5395,2933,0,100320,108649,0.000000,0.049655,0.923340,0.000009
1056,0,347,1,4819,1808,6975,0.690896,0.049749,0.259211,0.000000
1060,0,223,0,10201,0,10424,0.978607,0.021393,0.000000,0.000000
1061,151,0,0,6495,40,6686,0.971433,0.000000,0.005983,0.022585
1062,9,93,0,1429,10855,12386,0.115372,0.007508,0.876393,0.000727

In [33]:
table['Percent S/L'] = table['S/L']/table['Total']
table

Fund Type,317,CHP,S/L,SPL,VFC,Total,Percent SPL,Percent CHP,Percent VFC,Percent 317,Percent S/L
Awardee,,,,,,,,,,,
1004,23,1027,0,0,16681,17731,0.000000,0.057921,0.940782,0.001297,0.000000
1005,0,1742,1,3305,6031,11079,0.298312,0.157234,0.544363,0.000000,0.000090
1007,20,819,2,2829,4019,7689,0.367928,0.106516,0.522695,0.002601,0.000260
1009,0,0,845,13412,723,14980,0.895327,0.000000,0.048264,0.000000,0.056409
1010,0,11,1,0,3087,3099,0.000000,0.003550,0.996128,0.000000,0.000323
1013,1,0,0,24065,2115,26181,0.919178,0.000000,0.080784,0.000038,0.000000
1016,0,0,0,6913,0,6913,1.000000,0.000000,0.000000,0.000000,0.000000
1017,0,2738,6706,1862,10815,22121,0.084173,0.123774,0.488902,0.000000,0.303151
1020,0,0,0,5894,886,6780,0.869322,0.000000,0.130678,0.000000,0.000000
1021,0,433,19,9695,2862,13009,0.745253,0.033285,0.220002,0.000000,0.001461
1023,0,31,6,6116,918,7071,0.864941,0.004384,0.129826,0.000000,0.000849
1026,1,0,2,21944,0,21947,0.999863,0.000000,0.000000,0.000046,0.000091
1030,0,708,150,19,7611,8488,0.002238,0.083412,0.896678,0.000000,0.017672
1031,0,5,0,5507,7020,12532,0.439435,0.000399,0.560166,0.000000,0.000000
1035,0,0,1,453,5824,6278,0.072157,0.000000,0.927684,0.000000,0.000159
1039,0,0,0,34155,118,34273,0.996557,0.000000,0.003443,0.000000,0.000000
1040,8,1,2,30425,304,30740,0.989753,0.000033,0.009889,0.000260,0.000065
1045,0,0,0,10694,21,10715,0.998040,0.000000,0.001960,0.000000,0.000000
1053,12,32,0,3003,32,3079,0.975317,0.010393,0.010393,0.003897,0.000000
1055,1,5395,2933,0,100320,108649,0.000000,0.049655,0.923340,0.000009,0.026995
1056,0,347,1,4819,1808,6975,0.690896,0.049749,0.259211,0.000000,0.000143
1060,0,223,0,10201,0,10424,0.978607,0.021393,0.000000,0.000000,0.000000
1061,151,0,0,6495,40,6686,0.971433,0.000000,0.005983,0.022585,0.000000
1062,9,93,0,1429,10855,12386,0.115372,0.007508,0.876393,0.000727,0.000000

In [42]:
table['No Split']= table['Percent CHP']+table['Percent VFC']+table['Percent 317']+table['Percent S/L']
table

Fund Type,317,CHP,S/L,SPL,VFC,Total,Percent SPL,Percent CHP,Percent VFC,Percent 317,Percent S/L,True Split,No Split
Awardee,,,,,,,,,,,,,
1004,23,1027,0,0,16681,17731,0.000000,0.057921,0.940782,0.001297,0.000000,0.884158,1.000000
1005,0,1742,1,3305,6031,11079,0.298312,0.157234,0.544363,0.000000,0.000090,0.685531,0.701688
1007,20,819,2,2829,4019,7689,0.367928,0.106516,0.522695,0.002601,0.000260,0.786968,0.632072
1009,0,0,845,13412,723,14980,0.895327,0.000000,0.048264,0.000000,0.056409,1.000000,0.104673
1010,0,11,1,0,3087,3099,0.000000,0.003550,0.996128,0.000000,0.000323,0.992901,1.000000
1013,1,0,0,24065,2115,26181,0.919178,0.000000,0.080784,0.000038,0.000000,1.000000,0.080822
1016,0,0,0,6913,0,6913,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
1017,0,2738,6706,1862,10815,22121,0.084173,0.123774,0.488902,0.000000,0.303151,0.752452,0.915827
1020,0,0,0,5894,886,6780,0.869322,0.000000,0.130678,0.000000,0.000000,1.000000,0.130678
1021,0,433,19,9695,2862,13009,0.745253,0.033285,0.220002,0.000000,0.001461,0.933431,0.254747
1023,0,31,6,6116,918,7071,0.864941,0.004384,0.129826,0.000000,0.000849,0.991232,0.135059
1026,1,0,2,21944,0,21947,0.999863,0.000000,0.000000,0.000046,0.000091,1.000000,0.000137
1030,0,708,150,19,7611,8488,0.002238,0.083412,0.896678,0.000000,0.017672,0.833176,0.997762
1031,0,5,0,5507,7020,12532,0.439435,0.000399,0.560166,0.000000,0.000000,0.999202,0.560565
1035,0,0,1,453,5824,6278,0.072157,0.000000,0.927684,0.000000,0.000159,1.000000,0.927843
1039,0,0,0,34155,118,34273,0.996557,0.000000,0.003443,0.000000,0.000000,1.000000,0.003443
1040,8,1,2,30425,304,30740,0.989753,0.000033,0.009889,0.000260,0.000065,0.999935,0.010247
1045,0,0,0,10694,21,10715,0.998040,0.000000,0.001960,0.000000,0.000000,1.000000,0.001960
1053,12,32,0,3003,32,3079,0.975317,0.010393,0.010393,0.003897,0.000000,0.979214,0.024683
1055,1,5395,2933,0,100320,108649,0.000000,0.049655,0.923340,0.000009,0.026995,0.900689,1.000000
1056,0,347,1,4819,1808,6975,0.690896,0.049749,0.259211,0.000000,0.000143,0.900502,0.309104
1060,0,223,0,10201,0,10424,0.978607,0.021393,0.000000,0.000000,0.000000,0.957214,0.021393
1061,151,0,0,6495,40,6686,0.971433,0.000000,0.005983,0.022585,0.000000,1.000000,0.028567
1062,9,93,0,1429,10855,12386,0.115372,0.007508,0.876393,0.000727,0.000000,0.984983,0.884628

In [43]:
table['True Split']= 1-table['No Split']
table

Fund Type,317,CHP,S/L,SPL,VFC,Total,Percent SPL,Percent CHP,Percent VFC,Percent 317,Percent S/L,True Split,No Split
Awardee,,,,,,,,,,,,,
1004,23,1027,0,0,16681,17731,0.000000,0.057921,0.940782,0.001297,0.000000,0.000000,1.000000
1005,0,1742,1,3305,6031,11079,0.298312,0.157234,0.544363,0.000000,0.000090,0.298312,0.701688
1007,20,819,2,2829,4019,7689,0.367928,0.106516,0.522695,0.002601,0.000260,0.367928,0.632072
1009,0,0,845,13412,723,14980,0.895327,0.000000,0.048264,0.000000,0.056409,0.895327,0.104673
1010,0,11,1,0,3087,3099,0.000000,0.003550,0.996128,0.000000,0.000323,0.000000,1.000000
1013,1,0,0,24065,2115,26181,0.919178,0.000000,0.080784,0.000038,0.000000,0.919178,0.080822
1016,0,0,0,6913,0,6913,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
1017,0,2738,6706,1862,10815,22121,0.084173,0.123774,0.488902,0.000000,0.303151,0.084173,0.915827
1020,0,0,0,5894,886,6780,0.869322,0.000000,0.130678,0.000000,0.000000,0.869322,0.130678
1021,0,433,19,9695,2862,13009,0.745253,0.033285,0.220002,0.000000,0.001461,0.745253,0.254747
1023,0,31,6,6116,918,7071,0.864941,0.004384,0.129826,0.000000,0.000849,0.864941,0.135059
1026,1,0,2,21944,0,21947,0.999863,0.000000,0.000000,0.000046,0.000091,0.999863,0.000137
1030,0,708,150,19,7611,8488,0.002238,0.083412,0.896678,0.000000,0.017672,0.002238,0.997762
1031,0,5,0,5507,7020,12532,0.439435,0.000399,0.560166,0.000000,0.000000,0.439435,0.560565
1035,0,0,1,453,5824,6278,0.072157,0.000000,0.927684,0.000000,0.000159,0.072157,0.927843
1039,0,0,0,34155,118,34273,0.996557,0.000000,0.003443,0.000000,0.000000,0.996557,0.003443
1040,8,1,2,30425,304,30740,0.989753,0.000033,0.009889,0.000260,0.000065,0.989753,0.010247
1045,0,0,0,10694,21,10715,0.998040,0.000000,0.001960,0.000000,0.000000,0.998040,0.001960
1053,12,32,0,3003,32,3079,0.975317,0.010393,0.010393,0.003897,0.000000,0.975317,0.024683
1055,1,5395,2933,0,100320,108649,0.000000,0.049655,0.923340,0.000009,0.026995,0.000000,1.000000
1056,0,347,1,4819,1808,6975,0.690896,0.049749,0.259211,0.000000,0.000143,0.690896,0.309104
1060,0,223,0,10201,0,10424,0.978607,0.021393,0.000000,0.000000,0.000000,0.978607,0.021393
1061,151,0,0,6495,40,6686,0.971433,0.000000,0.005983,0.022585,0.000000,0.971433,0.028567
1062,9,93,0,1429,10855,12386,0.115372,0.007508,0.876393,0.000727,0.000000,0.115372,0.884628

In [45]:
table.to_csv('fy22_true_splits.csv')

In [46]:
indirect.head()

,Awardee,Document Type,Order Number,Item Number,NDC,Ordering Intention,Fund Type,VFC Qty,317 Qty,STATE Qty,CHIP Qty,Order Qty,num_of_zeros
49,1004,ZKB,508359181.0,10.0,58160-0811-52,PED,CHP,0,0,0,200,200.0,3
50,1004,ZKB,508359181.0,20.0,58160-0825-52,PED,CHP,0,0,0,500,500.0,3
51,1004,ZKB,508359181.0,30.0,00006-4981-00,PED,VFC,200,0,0,0,200.0,3
52,1004,ZKB,508359181.0,40.0,00006-4121-02,PED,CHP,0,0,0,500,500.0,3
53,1004,ZKB,508359181.0,50.0,49281-0589-05,PED,VFC,500,0,0,0,500.0,3

In [47]:
def split(num_of_zeros):
    if num_of_zeros == 3:
        return f'no split'
    else:
        return f'split'

In [48]:
indirect['num_of_zeros'] = indirect['num_of_zeros'].map(split)

<ipython-input-48-f35fba52e005>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indirect['num_of_zeros'] = indirect['num_of_zeros'].map(split)

In [49]:
table = pd.crosstab(indirect['Awardee'], indirect['num_of_zeros'])
table.head()

num_of_zeros  no split  split
Awardee
1004             17731      0
1005              7783   3296
1007              6832    857
1009              2359  12621
1010              3099      0

In [50]:
table['total'] = table['no split'] + table['split']
table['percent_spl'] = table['split']/table['total']
table.head()

num_of_zeros  no split  split  total  percent_spl
Awardee
1004             17731      0  17731     0.000000
1005              7783   3296  11079     0.297500
1007              6832    857   7689     0.111458
1009              2359  12621  14980     0.842523
1010              3099      0   3099     0.000000

In [51]:
table.to_csv('true_spl.csv')